@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
  
}

body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background : linear-gradient(45deg ,#0a0a0a ,#3a4452);


    
}
.calculator{
    border: 1px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
    
}
input{
    border:none;
    width: 320px;
    padding: 20px;
    margin:10px;
    font-size: 40px;
    background: transparent;
    border: 0px 3px 15px rgba(84,84,84,0.1);
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    border-radius: 50%;
    font-size: 20px; 
    margin: 10px;
    height: 60px  ;
    width: 60px;
    
    background:transparent;
    color: white;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;

}
.equalBtn{
    background-color: rgb(253, 191, 76);
}
.operator{
    color: aqua;
}
